fastapi[standard]
uvicorn[standard]
gunicorn
pydantic
pydantic-settings
beautifulsoup4
requests
python-multipart
openai
langchain 
langchain-community 
langgraph 
python-dotenv 
openai 
tiktoken
markitdown[all]
langchain-openai
redis
langgraph-checkpoint-redis
langchain-google-community
google-api-python-client 
google-auth 
google-auth-oauthlib
langchain-qdrant
langchain[google-genai]
langchain[anthropic]
langchain-xai