fastapi[standard]
uvicorn[standard]
Gunicorn
pydantic
pydantic-settings
sparqlwrapper
nltk
numpy
beautifulsoup4
requests
transformers
python-multipart
PyPDF2 
python-docx 
pandas 
pytesseract 
pillow
torch
openai
langchain 
langchain-community 
langgraph 
chromadb 
pypdf 
python-dotenv 
openai 
tiktoken
markitdown[all]
langchain-openai
pymongo
redis
langgraph-checkpoint-redis
langchain-google-community
google-api-python-client 
google-auth 
google-auth-oauthlib
grpcio 
grpcio-tools
langchain-qdrant
langchain[google-genai]
langchain[anthropic]
langchain-xai